apiVersion: v1
kind: PersistentVolume
metadata:
  name: teamavail-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/tmp/teamavail-output"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: teamavail-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi