apiVersion: v1
kind: PersistentVolume
metadata:
  name: teamavailability-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/tmp/teamavail-output"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: teamavailability-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:

      storage: 1Gi
